<!-- Top Report Wrap Start -->
<div class="row">
    <!-- Top Report Start -->
    <div class="col-xlg-3 col-md-6 col-12 mb-30">
        <div class="top-report">

            <!-- Head -->
            <div class="head">
                <h4>تعداد کاربران</h4>
                <a href="#" class="view"><i class="zmdi zmdi-eye"></i></a>
            </div>

            <!-- Content -->
            <div class="content">
                <h2>{{totalUsers}}</h2>
            </div>

        </div>
    </div><!-- Top Report End -->

    <!-- Top Report Start -->
    <div class="col-xlg-3 col-md-6 col-12 mb-30">
        <div class="top-report">

            <!-- Head -->
            <div class="head">
                <h4>تعداد مطالب</h4>
                <a href="#" class="view"><i class="zmdi zmdi-eye"></i></a>
            </div>

            <!-- Content -->
            <div class="content">
                <h2>{{totalPosts}}</h2>
            </div>

        </div>
    </div><!-- Top Report End -->

    <!-- Top Report Start -->
    <div class="col-xlg-3 col-md-6 col-12 mb-30">
        <div class="top-report">

            <!-- Head -->
            <div class="head">
                <h4>تعداد دیدگاه</h4>
                <a href="#" class="view"><i class="zmdi zmdi-eye"></i></a>
            </div>

            <!-- Content -->
            <div class="content">
                <h2>{{totalComments}}</h2>
            </div>

        </div>
    </div><!-- Top Report End -->

    <!-- Top Report Start -->
    <div class="col-xlg-3 col-md-6 col-12 mb-30">
        <div class="top-report">

            <!-- Head -->
            <div class="head">
                <h4>تعداد بازدید</h4>
                <a href="#" class="view"><i class="zmdi zmdi-eye"></i></a>
            </div>

            <!-- Content -->
            <div class="content">
                <h2>{{totalViews}}</h2>
            </div>

        </div>
    </div><!-- Top Report End -->
</div><!-- Top Report Wrap End -->

<div class="row mbn-30">

    <!-- Daily Sale Report Start -->
    <div class="col-xlg-4 col-lg-6 col-12 mb-30">
        <div class="box">
            <div class="box-head">
                <h4 class="title">پیشنویس سریع</h4>
            </div>
            <div class="box-body">
                <div class="row mbn-15">
                    <div class="col-12 mb-15">
                        <input
                            type="text"
                            class="form-control"
                            placeholder="عنوان مطلب"
                        />
                    </div>

                    <div class="col-12 mb-15">
                        <textarea
                            class="form-control"
                            placeholder="محتوای مطلب"
                        ></textarea>
                    </div>
                    <div class="col-12 mb-15">
                        <button
                            class="button button-primary button-clipboard mb-0 mt-15"
                        >ذخیره سازی</button>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- Daily Sale Report End -->

    <!-- To Do List Start -->
    <div class="col-xlg-4 col-lg-6 col-12 mb-30">
        <div class="box">
            <div class="box-head">
                <h4 class="title">آخرین دیدگاه ها</h4>
            </div>
            <div class="box-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>کاربر</th>
                            <th>دیدگاه</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>عمران رستم زاده</td>
                            <td>منتظر مطلب بعدی هستیم</td>
                        </tr>
                        <tr>
                            <td>عمران رستم زاده</td>
                            <td>منتظر مطلب بعدی هستیم</td>
                        </tr>
                        <tr>
                            <td>عمران رستم زاده</td>
                            <td>منتظر مطلب بعدی هستیم</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div><!-- To Do List End -->

</div>